{% extends "base.html" %}
{% block title %}Accedi{% endblock %}
{% block login_active %}active{% endblock %}

{% block main %}
<div class="col-5 bg-light p-4 border rounded mx-auto">
    <form action="/accedi" method="POST">

        <div class="mb-3">
            <label for="nicknameInput" class="form-label">Email</label>
            <input type="text" class="form-control" name="nickname" id="nicknameInput">
        </div>

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password">
        </div>
        
        <button type="submit" class="btn btn-success">Accedi</button>
    </form>
</div>
{% endblock %}